* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

/* shared style */
.primary-paragraph {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 15px;
}

.primary-button {
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 20px 43px;
    color: #FFFFFF;
    margin-top: 20px;
}

/* header style */
.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    background: rgba(229, 84, 115, 0.10);

}

.header-img {
    width: 400px;
    margin-top: 48px;
    margin-right: 100px;


}

.header-haed {
    color: #272727;
    font-size: 60px;
    font-weight: 800;

}

.header-description {
    text-align: justify;
    margin-left: 80px;
}

/* Featured Flowers Style */
.featured-flower {
    height: 100vh;
    margin-top: 100px;
}

.flower-description {
    text-align: center;
}

.description-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

.flower-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0% auto;
    margin-top: 30px;
}

.pink-image {
    width: 304px;
    height: 358px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

}

.pink-flower {
    width: 230px;
    height: 288px;
    margin-top: 68.9px;
    margin-left: 30px;

}

.red-image {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 304px;
    height: 358px;
}

.red-flower {
    width: 270px;
    height: 270px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 70px;
}

.yellow-image {
    width: 304px;
    height: 358px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);

}

.yellow-flower {
    width: 270px;
    height: 340px;
    margin-top: 18px;
    margin-left: 25px;
}

.heading {
    text-align: center;
    margin-top: 30px;
    text-decoration: underline;
    color: #272727;
    font-size: 18px;
    font-weight: 700;
    line-height: 35px;
}

.red-flower-heading {
    text-align: center;
    margin-top: 45px;
    text-decoration: underline;
    color: #272727;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;

}

/* Optional Section Style */
.icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    height: 300px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.icon-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.icon {
    width: 70px;
    margin-bottom: 25px;
}

.icon-header {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 18px;
}