* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

/* shared style */
.primary-paragraph {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 15px;
}

.primary-button {
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 20px 43px;
    color: #FFFFFF;
    margin-top: 20px;
}

/* header style */
.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    background: rgba(229, 84, 115, 0.10);
    
}

.header-img {
    width: 400px;
    margin-top: 48px;
    margin-right: 100px;


}

.header-haed {
    color: #272727;
    font-size: 60px;
    font-weight: 800;

}
.header-description{
    text-align: justify;
    margin-left:80px;
}
